<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

 <div class="container">
    <div class="shadow">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="box-customn">
			<div class="img-wrap-tailor">
				<a href="#" class="nohover"><img src="http://previews.123rf.com/images/ghoststone/ghoststone1506/ghoststone150600046/40752450-back-view-of-writing-beautiful-woman-Young-girl-in-dress-Rear-view-people-collection-backside-view-o-Stock-Photo.jpg" alt="fdsfsdf" /></a>
				<a href="#" class="onhover"><img src="http://www.rangitoto.school.nz/sites/rangitoto.school.nz/files/images/Snr%20boy%20shirt%20face%20right.jpg"  alt="fdsfsdf" /></a>
				<span>Quick View</span>
			</div>
			<div class="imfo-area">
				<h3>My Cloth</h3>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
				<h4>Rs. 11,250.00</h4>
			</div>
		</div>
		</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="box-customn">
			<div class="img-wrap-tailor">
							<a href="#" class="nohover"><img src="http://previews.123rf.com/images/ghoststone/ghoststone1506/ghoststone150600046/40752450-back-view-of-writing-beautiful-woman-Young-girl-in-dress-Rear-view-people-collection-backside-view-o-Stock-Photo.jpg" alt="fdsfsdf" /></a>
				<a href="#" class="onhover"><img src="http://www.rangitoto.school.nz/sites/rangitoto.school.nz/files/images/Snr%20boy%20shirt%20face%20right.jpg"  alt="fdsfsdf" /></a>
				<span>Quick View</span>
			</div>
			<div class="imfo-area">
				<h3>My Cloth</h3>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
				<h4>Rs. 11,250.00</h4>
			</div>
		</div>
		</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="box-customn">
			<div class="img-wrap-tailor">
								<a href="#" class="nohover"><img src="http://previews.123rf.com/images/ghoststone/ghoststone1506/ghoststone150600046/40752450-back-view-of-writing-beautiful-woman-Young-girl-in-dress-Rear-view-people-collection-backside-view-o-Stock-Photo.jpg" alt="fdsfsdf" /></a>
				<a href="#" class="onhover"><img src="http://www.rangitoto.school.nz/sites/rangitoto.school.nz/files/images/Snr%20boy%20shirt%20face%20right.jpg"  alt="fdsfsdf" /></a>
				<span>Quick View</span>
			</div>
			<div class="imfo-area">
				<h3>My Cloth</h3>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
				<h4>Rs. 11,250.00</h4>
			</div>
		</div>
		</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="box-customn">
			<div class="img-wrap-tailor">
							<a href="#" class="nohover"><img src="http://previews.123rf.com/images/ghoststone/ghoststone1506/ghoststone150600046/40752450-back-view-of-writing-beautiful-woman-Young-girl-in-dress-Rear-view-people-collection-backside-view-o-Stock-Photo.jpg" alt="fdsfsdf" /></a>
				<a href="#" class="onhover"><img src="http://www.rangitoto.school.nz/sites/rangitoto.school.nz/files/images/Snr%20boy%20shirt%20face%20right.jpg"  alt="fdsfsdf" /></a>
				<span>Quick View</span>
			</div>
			<div class="imfo-area">
				<h3>My Cloth</h3>
				<p>Lorem Ipsum is simply dummy text of the printing</p>
				<h4>Rs. 11,250.00</h4>
			</div>
		</div>
		</div>

	</div>
	</div>

</body>
</html>