{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stores</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/stores.css' %}">
</head>
<body>
    <div class="container">
        <h1> Stores</h1>
        <button type="button" id="new_store" class="btn btn-success">Add new Store</button>
        <div class="shadow">
            <div class="row">
                <div class="shops_listing">
                </div>
            </div>
		</div>
    </div>

</body>
</html>

<script>
    var username = "{{ username }}"
    var password = "{{ password }}"
</script>
<script src="{% static 'js/stores.js' %}"></script>